/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

*:before, *:after {
	box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

@font-face {
	font-family: DinPro;
	src: url(../fonts/DINPro.otf);
}

html,
body {
	font-family: DinPro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: space-between;
}

header {flex:0;}
main {flex:1;}
footer {flex:0;}

header {
	background-color: rgb(51, 51, 51);
}

main {
	background-color: #d8d5d0;
}

$top-panel-height: 34px;
$font-family: DinPro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$transition-property: transform;
$transition-time: 1000ms;
$method: ease-in-out;
$con: 20px;
$deep: 31px;
$angle: 36deg;

@mixin transform($transforms) {
          transform: $transforms;
}
// rotate
@mixin rotate3d($x, $y, $z, $deg) {
  @include transform(rotate3d($x, $y, $z, $deg));
}
 
// translate
@mixin translate3d ($x, $y, $z) {
   @include transform(translate3d($x, $y, $z));
}

.top-panel {
	display: flex;
	justify-content: space-between;
	font-family: $font-family;
	height: $top-panel-height;
	line-height: $top-panel-height;
	padding: 0 13px;
	background-color: #000;
	color: #fbea5e;
	font-size: $top-panel-height * 0.7;
	text-shadow: 1px 1px 1px rgba(251, 234, 94, 0.6);
	text-transform: uppercase;
	.left, .right {flex: 1;}
	.right {text-align: right;}
	.center {
		flex: 1;
		display: flex;
		justify-content: inherit;
		.jackpot-item {
			display: flex;
			.jackpot-name {
				margin-right: 11px;
			}
			.jackpot-counter {
				font-size: round($top-panel-height * 0.56);
				position: relative;
				.row {
					display: flex;
					overflow: hidden;
					background-image: linear-gradient(top, rgba(200, 200, 200, 0.2) 0%, rgba(200, 200, 200, 0.2) 40%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
					background-color: #222222;
					border-radius: 3px;
					.jackpot-counter-cell {
						width: $top-panel-height * 0.65;
						height: $top-panel-height;
						position: relative;
						// transform: matrix(1, 0, 0, 1, 0, 0);
						// transition: $transition-property $transition-time $method;
						& + & {
							box-shadow: inset 0.09em 0 0.1em 0px rgba(255, 255, 255, 0.2)
						}
						& > div {
							margin: 0 auto;
							height: $top-panel-height;
							width: $con;
							transform-style: preserve-3d;
							// transition: $transition-property $transition-time $method;
							will-change: transform;
							transform: rotate3d(1, 0, 0, -12deg);
							/*animate*/
							animation-name: spin;
							animation-timing-function: ease-in-out;
							animation-fill-mode: forwards;
						}
							.plane {
								position: absolute;
								height: $top-panel-height;
								width: $con;
								text-align: center;
								// font-size: $con;
								line-height: 1;
								color: #fbea5e;
								backface-visibility: hidden;
							}
						}
					}
				}
			}
		}
}

$sec: 1000ms;
#roller {
	&One {
		animation-duration: $sec * 1000000;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Two {
		animation-duration: $sec * 100000;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Three {
		animation-duration: $sec * 10000;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Four {
		animation-duration: $sec * 1000;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Five {
		animation-duration: $sec * 100;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Six {
		animation-duration: $sec * 10;
		animation-play-state: paused;
		animation-iteration-count: 0;
	}
	&Seven {
		animation-duration: $sec;
		animation-play-state: paused;
		animation-iteration-count: 0;		
	}
}

@for $i from 0 through 9 {
	.jackpot-counter .figure#{$i} {
		@include transform(rotate3d(1, 0, 0, $angle*$i) translate3d(0, 0, $deep));
	}
}

@keyframes spin {
	0% { @include rotate3d(1, 0, 0, -12deg); }
	10% { @include rotate3d(1, 0, 0, -48deg); }
	20% { @include rotate3d(1, 0, 0, -84deg); }
	30% { @include rotate3d(1, 0, 0, -120deg); }
	40% { @include rotate3d(1, 0, 0, -156deg); }
	50% { @include rotate3d(1, 0, 0, -192deg); }
	60% { @include rotate3d(1, 0, 0, -228deg); }
	70% { @include rotate3d(1, 0, 0, -264deg); }
	80% { @include rotate3d(1, 0, 0, -300deg); }
	90% { @include rotate3d(1, 0, 0, -336deg); }
	100% { @include rotate3d(1, 0, 0, -372deg); }
}


