//=========================//
//
//        IMPORT
//
//=========================//

// CORE IMPORT
//==========================
//@import 'base/base';

// MODULES IMPORT
//==========================
//@import 'modules/form';
//@import 'modules/modal';
//@import 'modules/social';

// LAYOUT IMPORT
//==========================
//@import 'layout/header';
//@import 'layout/main';
//@import 'layout/footer';

// PAGES IMPORT
//==========================
//@import 'pages/home';
//@import 'pages/view';

// VENDORS IMPORT
//==========================
//@import 'vendors/vendors';

// MEDIA IMPORT
//==========================

//@import 'media/media-1200px';
//@import 'media/media-992px';
//@import 'media/media-767px';
//@import 'media/media-320px';

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

*:before, *:after {
	box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

@font-face {
	font-family: DinPro;
	src: url(../fonts/DINPro.otf);
}

html,
body {
	font-family: DinPro;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: space-between;
}

header {flex:0;}
main {flex:1;}
footer {flex:0;}

header {
	background-color: rgb(51, 51, 51);
}

main {
	background-color: rgb(233, 225, 217);
}

$top-panel-height: 34px;

.top-panel {
	display: flex;
	justify-content: space-between;
	height: $top-panel-height;
	line-height: $top-panel-height;
	padding: 0 13px;
	background-color: #000;
	color: #fbea5e;
	font-size: $top-panel-height * 0.7;
	text-shadow: 1px 1px 1px rgba(251, 234, 94, 0.6);
	text-transform: uppercase;
	.left, .right {flex: 0;}
	.center {
		flex: 1;
		display: flex;
		justify-content: center;
		.jackpot-item {
			display: flex;
			.jackpot-name {
				margin-right: 11px;
			}
			.jackpot-counter {
				font-size: $top-panel-height * 0.56;
				position: relative;
				.result {
					position: absolute;
					top: 0;
					left: 6px;
					letter-spacing: 12.66px;
				}
				.row {
					display: flex;
					overflow: hidden;
					background-image: linear-gradient(top, rgba(200, 200, 200, 0.2) 0%, rgba(200, 200, 200, 0.2) 40%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
					background-color: #222222;
					border-radius: 3px;
					.cell {
						width: $top-panel-height * 0.65;
						height: $top-panel-height;
						position: relative;
						transform: matrix(1, 0, 0, 1, 0, 0);
						transition: transform 600ms linear;
						& + .cell {
							box-shadow: inset 0.09em 0 0.1em 0px rgba(255, 255, 255, 0.2)
						}
						&::before {
							position: absolute;
							content: '9 \a 0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9';
							line-height: 20px;
							text-align: center;
							transform: matrix(1, 0, 0, 1, 0, -12);
							transition: transform 600ms linear;
						}
					}
				}
			}
		}
	}
}