// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

// ADD SCRIPTS
// JQuery
script(src='libs/jquery/dist/jquery.min.js')
// Bootstrap
script(src="libs/bootstrap/dist/js/bootstrap.min.js")
// Slick-carousel
script(src="libs/slick-carousel/slick/slick.min.js")
// Map Script
script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMIdjyZmJPMrW7Kq2S9u-xmMIJnrIRMIg&amp;amp;amp;sensor=false")
// Common Script
script(src="js/common.js")

// Yandex.Metrika counter
// /Yandex.Metrika counter
// Google Analytics counter
// /Google Analytics counter
