/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
    text-align: left;
}

@font-face {
    font-family: DinPro;

    src: url(../fonts/DINPro.otf);
}

html,
body {
    font-family: DinPro;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    min-height: 100vh;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

header {
            flex: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
}

main {
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
}

footer {
            flex: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
}

header {
    background-color: #333;
}

main {
    background-color: #e9e1d9;
}

.top-panel {
    font-size: 23.8px;
    line-height: 34px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    height: 34px;
    padding: 0 13px;
    text-transform: uppercase;
    color: #fbea5e;
    background-color: #000;
    text-shadow: 1px 1px 1px rgba(251, 234, 94, .6);

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.top-panel .left,
.top-panel .right {
            flex: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
}

.top-panel .center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.top-panel .center .jackpot-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.top-panel .center .jackpot-item .jackpot-name {
    margin-right: 11px;
}

.top-panel .center .jackpot-item .jackpot-counter {
    font-size: 19.04px;
    position: relative;
}

.top-panel .center .jackpot-item .jackpot-counter .result {
    position: absolute;
    top: 0;
    left: 6px;
    letter-spacing: 12.66px;
}

.top-panel .center .jackpot-item .jackpot-counter .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
    border-radius: 3px;
    background-color: #222;
    background-image: -webkit-linear-gradient(top, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 40%, black 45%, black 55%, black 100%);
    background-image:         linear-gradient(top, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 40%, black 45%, black 55%, black 100%);
}

.top-panel .center .jackpot-item .jackpot-counter .row .cell {
    position: relative;
    width: 22.1px;
    height: 34px;
    -webkit-transition: -webkit-transform 600ms linear;
            transition: -webkit-transform 600ms linear;
            transition:         transform 600ms linear;
            transition:         transform 600ms linear, -webkit-transform 600ms linear;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
}

.top-panel .center .jackpot-item .jackpot-counter .row .cell + .cell {
    box-shadow: inset .09em 0 .1em 0 rgba(255, 255, 255, .2);
}

.top-panel .center .jackpot-item .jackpot-counter .row .cell::before {
    line-height: 20px;
    position: absolute;
    content: '9 \a 0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9';
    -webkit-transition: -webkit-transform 600ms linear;
            transition: -webkit-transform 600ms linear;
            transition:         transform 600ms linear;
            transition:         transform 600ms linear, -webkit-transform 600ms linear;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -12);
        -ms-transform: matrix(1, 0, 0, 1, 0, -12);
            transform: matrix(1, 0, 0, 1, 0, -12);
    text-align: center;
}

/*# sourceMappingURL=style.css.map */
