/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
    text-align: left;
}

@font-face {
    font-family: DinPro;

    src: url(../fonts/DINPro.otf);
}

html,
body {
    font-family: DinPro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    min-height: 100vh;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

header {
            flex: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
}

main {
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
}

footer {
            flex: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
}

header {
    background-color: #333;
}

main {
    background-color: #d8d5d0;
}

.top-panel {
    font-family: DinPro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 23.8px;
    line-height: 34px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    height: 34px;
    padding: 0 13px;
    text-transform: uppercase;
    color: #fbea5e;
    background-color: #000;
    text-shadow: 1px 1px 1px rgba(251, 234, 94, .6);

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.top-panel .left,
.top-panel .right {
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
}

.top-panel .right {
    text-align: right;
}

.top-panel .center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
            justify-content: inherit;
}

.top-panel .center .jackpot-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.top-panel .center .jackpot-item .jackpot-name {
    margin-right: 11px;
}

.top-panel .center .jackpot-item .jackpot-counter {
    font-size: 19px;
    position: relative;
}

.top-panel .center .jackpot-item .jackpot-counter .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
    border-radius: 3px;
    background-color: #222;
    background-image: -webkit-linear-gradient(top, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 40%, black 45%, black 55%, black 100%);
    background-image:         linear-gradient(top, rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 40%, black 45%, black 55%, black 100%);
}

.top-panel .center .jackpot-item .jackpot-counter .row .jackpot-counter-cell {
    position: relative;
    width: 22.1px;
    height: 34px;
}

.top-panel .center .jackpot-item .jackpot-counter .row .jackpot-counter-cell + .top-panel .center .jackpot-item .jackpot-counter .row .jackpot-counter-cell {
    box-shadow: inset .09em 0 .1em 0 rgba(255, 255, 255, .2);
}

.top-panel .center .jackpot-item .jackpot-counter .row .jackpot-counter-cell > div {
    width: 20px;
    height: 34px;
    margin: 0 auto;
    -webkit-transform: rotate3d(1, 0, 0, -12deg);
            transform: rotate3d(1, 0, 0, -12deg); /*animate*/
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    will-change: transform;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.top-panel .center .jackpot-item .jackpot-counter .row .jackpot-counter-cell .plane {
    line-height: 1;
    position: absolute;
    width: 20px;
    height: 34px;
    text-align: center;
    color: #fbea5e;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#rollerOne {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerTwo {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerThree {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerFour {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerFive {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerSix {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

#rollerSeven {
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-iteration-count: 0;
            animation-iteration-count: 0;
}

.jackpot-counter .figure0 {
    -webkit-transform: rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure1 {
    -webkit-transform: rotate3d(1, 0, 0, 36deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 36deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure2 {
    -webkit-transform: rotate3d(1, 0, 0, 72deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 72deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure3 {
    -webkit-transform: rotate3d(1, 0, 0, 108deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 108deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure4 {
    -webkit-transform: rotate3d(1, 0, 0, 144deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 144deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure5 {
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure6 {
    -webkit-transform: rotate3d(1, 0, 0, 216deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 216deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure7 {
    -webkit-transform: rotate3d(1, 0, 0, 252deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 252deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure8 {
    -webkit-transform: rotate3d(1, 0, 0, 288deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 288deg) translate3d(0, 0, 31px);
}

.jackpot-counter .figure9 {
    -webkit-transform: rotate3d(1, 0, 0, 324deg) translate3d(0, 0, 31px);
            transform: rotate3d(1, 0, 0, 324deg) translate3d(0, 0, 31px);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, -12deg);
                transform: rotate3d(1, 0, 0, -12deg);
    }

    10% {
        -webkit-transform: rotate3d(1, 0, 0, -48deg);
                transform: rotate3d(1, 0, 0, -48deg);
    }

    20% {
        -webkit-transform: rotate3d(1, 0, 0, -84deg);
                transform: rotate3d(1, 0, 0, -84deg);
    }

    30% {
        -webkit-transform: rotate3d(1, 0, 0, -120deg);
                transform: rotate3d(1, 0, 0, -120deg);
    }

    40% {
        -webkit-transform: rotate3d(1, 0, 0, -156deg);
                transform: rotate3d(1, 0, 0, -156deg);
    }

    50% {
        -webkit-transform: rotate3d(1, 0, 0, -192deg);
                transform: rotate3d(1, 0, 0, -192deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0, 0, -228deg);
                transform: rotate3d(1, 0, 0, -228deg);
    }

    70% {
        -webkit-transform: rotate3d(1, 0, 0, -264deg);
                transform: rotate3d(1, 0, 0, -264deg);
    }

    80% {
        -webkit-transform: rotate3d(1, 0, 0, -300deg);
                transform: rotate3d(1, 0, 0, -300deg);
    }

    90% {
        -webkit-transform: rotate3d(1, 0, 0, -336deg);
                transform: rotate3d(1, 0, 0, -336deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 0, 0, -372deg);
                transform: rotate3d(1, 0, 0, -372deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, -12deg);
                transform: rotate3d(1, 0, 0, -12deg);
    }

    10% {
        -webkit-transform: rotate3d(1, 0, 0, -48deg);
                transform: rotate3d(1, 0, 0, -48deg);
    }

    20% {
        -webkit-transform: rotate3d(1, 0, 0, -84deg);
                transform: rotate3d(1, 0, 0, -84deg);
    }

    30% {
        -webkit-transform: rotate3d(1, 0, 0, -120deg);
                transform: rotate3d(1, 0, 0, -120deg);
    }

    40% {
        -webkit-transform: rotate3d(1, 0, 0, -156deg);
                transform: rotate3d(1, 0, 0, -156deg);
    }

    50% {
        -webkit-transform: rotate3d(1, 0, 0, -192deg);
                transform: rotate3d(1, 0, 0, -192deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0, 0, -228deg);
                transform: rotate3d(1, 0, 0, -228deg);
    }

    70% {
        -webkit-transform: rotate3d(1, 0, 0, -264deg);
                transform: rotate3d(1, 0, 0, -264deg);
    }

    80% {
        -webkit-transform: rotate3d(1, 0, 0, -300deg);
                transform: rotate3d(1, 0, 0, -300deg);
    }

    90% {
        -webkit-transform: rotate3d(1, 0, 0, -336deg);
                transform: rotate3d(1, 0, 0, -336deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 0, 0, -372deg);
                transform: rotate3d(1, 0, 0, -372deg);
    }
}

/*# sourceMappingURL=style.css.map */
