doctype html
html(lang="ru")

    head
        include modules/meta

    body
        include modules/header

        main(role="main")

        include modules/footer
        include modules/scripts
